In [3]:
# Library Python yang dipakai saat proses/pengolahan

import pandas as pd
import numpy as np
import json
from datetime import datetime, timedelta
import random
import os

In [4]:
# Import/Load Data Json dalam library lokal

import json

with open('/Users/macbook/Documents/Assignment Data Analytics Engineer/books.json', 'r') as f:
    data = json.load(f)
    
# Dikonversi menjadi dataframe 
df_books = pd.DataFrame(data['books'])
df_books

,id,title,author,cover,rating,pages,genre,status
0,1,The Great Gatsby,F. Scott Fitzgerald,https://covers.openlibrary.org/b/id/12749894-L...,4.2,180,Classic,read
1,2,To Kill a Mockingbird,Harper Lee,https://covers.openlibrary.org/b/id/12749895-L...,4.8,376,Fiction,read
2,3,1984,George Orwell,https://covers.openlibrary.org/b/id/12749896-L...,4.6,328,Dystopian,reading
3,4,Pride and Prejudice,Jane Austen,https://covers.openlibrary.org/b/id/12749897-L...,4.4,432,Romance,want-to-read
4,5,The Catcher in the Rye,J.D. Salinger,https://covers.openlibrary.org/b/id/12749898-L...,3.8,277,Coming-of-age,read
5,6,Harry Potter and the Sorcerer's Stone,J.K. Rowling,https://covers.openlibrary.org/b/id/12749899-L...,4.7,309,Fantasy,read
6,7,The Lord of the Rings,J.R.R. Tolkien,https://covers.openlibrary.org/b/id/12749900-L...,4.9,1216,Fantasy,want-to-read
7,8,Dune,Frank Herbert,https://covers.openlibrary.org/b/id/12749901-L...,4.3,688,Sci-Fi,reading

In [5]:
# Informasi Mengenai dari Dtype disetiap kolom dan value pada data
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      int64
 1   title   8 non-null      object
 2   author  8 non-null      object
 3   cover   8 non-null      object
 4   rating  8 non-null      float64
 5   pages   8 non-null      int64
 6   genre   8 non-null      object
 7   status  8 non-null      object
dtypes: float64(1), int64(2), object(5)
memory usage: 644.0+ bytes

In [6]:
# Informasi Mengenai Apakah terdapat Duplikat pada data
df_books.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [7]:
print(df_books['id'].is_unique)      
print(df_books['title'].is_unique)

True
True

In [8]:
# Standarisasi format teks
df_books['title'] = df_books['title'].str.title().str.strip()
df_books['author'] = df_books['author'].str.title().str.strip()
df_books['genre'] = df_books['genre'].str.title().str.strip()
df_books['status'] = df_books['status'].str.capitalize().str.strip()
df_books

,id,title,author,cover,rating,pages,genre,status
0,1,The Great Gatsby,F. Scott Fitzgerald,https://covers.openlibrary.org/b/id/12749894-L...,4.2,180,Classic,Read
1,2,To Kill A Mockingbird,Harper Lee,https://covers.openlibrary.org/b/id/12749895-L...,4.8,376,Fiction,Read
2,3,1984,George Orwell,https://covers.openlibrary.org/b/id/12749896-L...,4.6,328,Dystopian,Reading
3,4,Pride And Prejudice,Jane Austen,https://covers.openlibrary.org/b/id/12749897-L...,4.4,432,Romance,Want-to-read
4,5,The Catcher In The Rye,J.D. Salinger,https://covers.openlibrary.org/b/id/12749898-L...,3.8,277,Coming-Of-Age,Read
5,6,Harry Potter And The Sorcerer'S Stone,J.K. Rowling,https://covers.openlibrary.org/b/id/12749899-L...,4.7,309,Fantasy,Read
6,7,The Lord Of The Rings,J.R.R. Tolkien,https://covers.openlibrary.org/b/id/12749900-L...,4.9,1216,Fantasy,Want-to-read
7,8,Dune,Frank Herbert,https://covers.openlibrary.org/b/id/12749901-L...,4.3,688,Sci-Fi,Reading

In [9]:
# Simpan Data Books yang sudah menggunakan format CSV
df_books.to_csv("clean_books.csv", index=False)

## Membuat data sampel tambahan untuk interaksi pengguna dan kemajuan membaca

In [10]:
# Load Csv books yang sudah clean
df_clean_books = pd.read_csv("clean_books.csv")
df_clean_books

,id,title,author,cover,rating,pages,genre,status
0,1,The Great Gatsby,F. Scott Fitzgerald,https://covers.openlibrary.org/b/id/12749894-L...,4.2,180,Classic,Read
1,2,To Kill A Mockingbird,Harper Lee,https://covers.openlibrary.org/b/id/12749895-L...,4.8,376,Fiction,Read
2,3,1984,George Orwell,https://covers.openlibrary.org/b/id/12749896-L...,4.6,328,Dystopian,Reading
3,4,Pride And Prejudice,Jane Austen,https://covers.openlibrary.org/b/id/12749897-L...,4.4,432,Romance,Want-to-read
4,5,The Catcher In The Rye,J.D. Salinger,https://covers.openlibrary.org/b/id/12749898-L...,3.8,277,Coming-Of-Age,Read
5,6,Harry Potter And The Sorcerer'S Stone,J.K. Rowling,https://covers.openlibrary.org/b/id/12749899-L...,4.7,309,Fantasy,Read
6,7,The Lord Of The Rings,J.R.R. Tolkien,https://covers.openlibrary.org/b/id/12749900-L...,4.9,1216,Fantasy,Want-to-read
7,8,Dune,Frank Herbert,https://covers.openlibrary.org/b/id/12749901-L...,4.3,688,Sci-Fi,Reading

In [40]:
# Buat ID pengguna (50 user)
user_ids = list(range(1, 51))

# Buat Jumlah interaksi 
num_interactions = 150 

# jumlah data progres baca
num_progress = 100

In [41]:
# Buat Data Interaksi Pengguna

num_interaction = 150  # jumlah baris interaksi
interactions = pd.DataFrame({
    "user_id": random.choices(user_ids, k=num_interactions),
    "book_id": random.choices(df_clean_books["id"], k=num_interactions),
    "action": random.choices(["view", "search", "rate"], weights=[0.5, 0.3, 0.2], k=num_interactions),
    "timestamp": [(datetime.now() - timedelta(days=random.randint(0, 60),
                                hours=random.randint(0, 23),
                                minutes=random.randint(0, 59))
    ).strftime("%Y-%m-%dT%H:%M:%SZ")
    for _ in range(num_interactions)
]})

In [42]:
interactions

     user_id  book_id  action             timestamp
0         17        1    view  2025-08-25T12:23:03Z
1         32        7    view  2025-09-01T03:27:03Z
2         47        2    view  2025-08-24T10:25:03Z
3         36        3    rate  2025-09-26T01:36:03Z
4         29        4  search  2025-08-24T18:05:03Z
..       ...      ...     ...                   ...
145       36        4    view  2025-10-23T18:41:03Z
146       34        1  search  2025-10-02T19:06:03Z
147       48        4    rate  2025-08-29T07:08:03Z
148       37        2    rate  2025-10-02T01:45:03Z
149       43        5    rate  2025-09-03T01:13:03Z

[150 rows x 4 columns]

In [47]:
# Buat Data kemajuan membaca (halaman yang dibaca, status penyelesaian)

num_progress = 100  # jumlah baris data progres
reading_progress = pd.DataFrame({
    "user_id": random.choices(user_ids, k=num_progress),
    "book_id": random.choices(df_clean_books["id"], k=num_progress),
})

# Ambil total halaman dari data buku
book_page_map = dict(zip(df_clean_books["id"], df_clean_books["pages"]))
reading_progress["total_pages"] = reading_progress["book_id"].map(book_page_map)

# Tambahkan kolom pages_read (0 s.d. total_pages)
reading_progress["pages_read"] = reading_progress["total_pages"].apply(lambda x: random.randint(0, x))

# Hitung tingkat penyelesaian (completion_rate numerik)
reading_progress["completion_rate"] = (
    reading_progress["pages_read"] / reading_progress["total_pages"]
).round(2)

reading_progress = reading_progress[[
    "user_id", "book_id", "pages_read", "total_pages", "completion_rate"
]]

In [48]:
reading_progress

    user_id  book_id  pages_read  total_pages  completion_rate
0        23        6         191          309             0.62
1        37        3          60          328             0.18
2         5        2          99          376             0.26
3        25        6          43          309             0.14
4        31        8         534          688             0.78
..      ...      ...         ...          ...              ...
95       33        4         396          432             0.92
96       24        5         139          277             0.50
97       17        6         179          309             0.58
98       30        7         658         1216             0.54
99       49        3         212          328             0.65

[100 rows x 5 columns]

In [49]:
# Pengecekan Kualitas Data & Konsistensi kedua data yang dibuat
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    150 non-null    int64
 1   book_id    150 non-null    int64
 2   action     150 non-null    object
 3   timestamp  150 non-null    object
dtypes: int64(2), object(2)
memory usage: 4.8+ KB

In [50]:
# Pengecekan Kualitas Data & Konsistensi kedua data yang dibuat
reading_progress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          100 non-null    int64
 1   book_id          100 non-null    int64
 2   pages_read       100 non-null    int64
 3   total_pages      100 non-null    int64
 4   completion_rate  100 non-null    float64
dtypes: float64(1), int64(4)
memory usage: 4.0 KB

In [52]:
# Validasi Relasi Antar Dataset (Integrity Check)
invalid_books_interactions = interactions[~interactions["book_id"].isin(df_clean_books["id"])]
invalid_books_progress = reading_progress[~reading_progress["book_id"].isin(df_clean_books["id"])]

print("Invalid book references in interactions:", len(invalid_books_interactions))
print("Invalid book references in progress:", len(invalid_books_progress))

# Tujuan: memastikan book_id di interactions dan progress benar-benar ada di books

Invalid book references in interactions: 0
Invalid book references in progress: 0

In [54]:
# Validasi Logika Kolom

# Pages read tidak boleh melebihi total pages
invalid_progress = reading_progress[reading_progress["pages_read"] > reading_progress["total_pages"]]
print("Invalid pages_read entries:", len(invalid_progress))

# Tujuan: pastikan logika bisnis tidak rusak saat generate data.

Invalid pages_read entries: 0

In [63]:
# Simpan data interaksi pengguna dan kemajuan baca menggunakan format CSV
interactions.to_csv("user_interactions.csv", index=False)
reading_progress.to_csv("reading_progress.csv", index=False)

### Transformasi Data

#### Hitung Metrik Turunan

In [57]:
# Buat tanggal mulai acak
reading_progress["date_start"] = pd.to_datetime(
    np.random.choice(pd.date_range("2025-01-01", "2025-03-31"), size=len(reading_progress))
)

# Buat tanggal update antara 1–30 hari setelah mulai
reading_progress["date_last_update"] = reading_progress["date_start"] + pd.to_timedelta(
    np.random.randint(1, 30, size=len(reading_progress)), unit="D"
)

# Hitung jumlah hari aktif membaca
reading_progress["days_active"] = (
    (reading_progress["date_last_update"] - reading_progress["date_start"]).dt.days + 1
)

# Hitung kecepatan membaca (pages per hari)
reading_progress["reading_speed"] = (
    reading_progress["pages_read"] / reading_progress["days_active"]
).round(2)

# Tambahkan status penyelesaian (Completed/In Progress)
reading_progress["status"] = np.where(
    reading_progress["completion_rate"] >= 1, "Completed", "In Progress"
)
reading_progress

,user_id,book_id,pages_read,total_pages,completion_rate,date_start,date_last_update,days_active,reading_speed,status
0,23,6,191,309,0.62,2025-03-22,2025-04-08,18,10.61,In Progress
1,37,3,60,328,0.18,2025-02-22,2025-03-22,29,2.07,In Progress
2,5,2,99,376,0.26,2025-01-10,2025-01-27,18,5.50,In Progress
3,25,6,43,309,0.14,2025-02-13,2025-02-19,7,6.14,In Progress
4,31,8,534,688,0.78,2025-03-02,2025-03-14,13,41.08,In Progress
...,...,...,...,...,...,...,...,...,...,...
95,33,4,396,432,0.92,2025-03-01,2025-03-06,6,66.00,In Progress
96,24,5,139,277,0.50,2025-03-25,2025-04-02,9,15.44,In Progress
97,17,6,179,309,0.58,2025-02-11,2025-02-23,13,13.77,In Progress
98,30,7,658,1216,0.54,2025-02-19,2025-03-02,12,54.83,In Progress
99,49,3,212,328,0.65,2025-01-21,2025-02-13,24,8.83,In Progress

#### Segmen pengguna berdasarkan perilaku membaca

In [64]:
# Agregasi per user
user_metrics = reading_progress.groupby("user_id").agg({
    "completion_rate": "mean",
    "reading_speed": "mean"
}).reset_index()

# Tentukan segmen pengguna
def classify_user(row):
    if row["completion_rate"] >= 0.7 and row["reading_speed"] >= 20:
        return "Speed Reader"
    elif 0.3 <= row["completion_rate"] < 0.7:
        return "Steady Reader"
    elif row["completion_rate"] < 0.3:
        return "Casual Reader"
    else:
        return "Inactive"

user_metrics["segment"] = user_metrics.apply(classify_user, axis=1)
user_metrics

user_metrics.to_csv("user_segments.csv", index=False)

#### Data Agregat untuk Dashboard

In [61]:
# 1.Rata-rata rating & interaksi per buku
book_summary = reading_progress.groupby("book_id").agg({
    "completion_rate": "mean",
    "reading_speed": "mean"
}).reset_index()

# 2. Distribusi segmen pengguna
segment_distribution = user_metrics["segment"].value_counts().reset_index()
segment_distribution.columns = ["segment", "user_count"]

# 3. Statistik global
summary_stats = {
    "avg_completion": round(reading_progress["completion_rate"].mean(), 2),
    "avg_reading_speed": round(reading_progress["reading_speed"].mean(), 2),
    "total_users": reading_progress["user_id"].nunique(),
    "total_books": reading_progress["book_id"].nunique()
}

print("=== 📘 Book Summary ===")
display(book_summary)

print("\n=== 👥 Segment Distribution ===")
display(segment_distribution)

print("\n=== 📈 Summary Stats ===")
display(summary_stats)

=== 📘 Book Summary ===

   book_id  completion_rate  reading_speed
0        1         0.461818      13.753636
1        2         0.465714      13.831429
2        3         0.433333       9.745333
3        4         0.479231      23.247692
4        5         0.560000      27.861250
5        6         0.537727      18.914091
6        7         0.606667      84.513333
7        8         0.493333      25.161333

=== 👥 Segment Distribution ===

         segment  user_count
0  Steady Reader          26
1  Casual Reader           8
2   Speed Reader           6
3       Inactive           5

=== 📈 Summary Stats ===

{'avg_completion': np.float64(0.5),
 'avg_reading_speed': np.float64(24.74),
 'total_users': 45,
 'total_books': 8}

In [62]:
reading_progress

,user_id,book_id,pages_read,total_pages,completion_rate,date_start,date_last_update,days_active,reading_speed,status
0,23,6,191,309,0.62,2025-03-22,2025-04-08,18,10.61,In Progress
1,37,3,60,328,0.18,2025-02-22,2025-03-22,29,2.07,In Progress
2,5,2,99,376,0.26,2025-01-10,2025-01-27,18,5.50,In Progress
3,25,6,43,309,0.14,2025-02-13,2025-02-19,7,6.14,In Progress
4,31,8,534,688,0.78,2025-03-02,2025-03-14,13,41.08,In Progress
...,...,...,...,...,...,...,...,...,...,...
95,33,4,396,432,0.92,2025-03-01,2025-03-06,6,66.00,In Progress
96,24,5,139,277,0.50,2025-03-25,2025-04-02,9,15.44,In Progress
97,17,6,179,309,0.58,2025-02-11,2025-02-23,13,13.77,In Progress
98,30,7,658,1216,0.54,2025-02-19,2025-03-02,12,54.83,In Progress
99,49,3,212,328,0.65,2025-01-21,2025-02-13,24,8.83,In Progress